--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
streamlit
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
sentence-transformers
pandas
python-dotenv
PyGithub
faiss-cpu
tiktoken
